body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.section-one{
    background-color: #1f2937;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20vw;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    justify-self: flex-start;
}

.header-links{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.section-one-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20vw;
    gap: 64px;
}

.section-one-text-left{
    display: flex;
    flex-direction: column;
}

.hero-header{
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 500px;
    margin: 0;
}

.hero-text{
    max-width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button{
    flex: none;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: #3882f6;
    border: 0;
    color: #e5e7eb;
    font-weight: bold;
}

.section-one-img-right{
    width: 300px;
    height: 150px;
    background-color: gray;
    color: white;
    flex: none;
    display: flex;
    justify-content: center;
}

.image-placeholder{
    align-self: center;
    
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 70px;
}

.section-two-boxes{
    display: flex;
    gap: 64px;
    margin: 0px 0px;
    justify-content: center;
}

.section-two-header{
    align-self: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.section-two-box{
    display: flex;
    flex-direction: column;
    max-width: 10vh;
    margin: 0;
    padding: 0;
}
.section-two-box-img{
    border: solid 3px;
    border-color: #3882f6;
    border-radius: 15px;
    padding: 32px;
    height: 10vh;
    width: 10vh;
    align-self: center;
    padding: 0;
    
}

.section-two-box-text{
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0;
    background-color: #e5e7eb;
    padding: 50px 0px;
}

.section-three-quote{
    max-width: 500px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 10px;
}

.section-three-author{
    margin-left: 300px;
}

.section-four{
    display: flex;
    background-color: #3882f6;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    border-radius: 10px;
    color: #f9faf8;
    min-height: 100px;
    min-width: 350px;
    margin: 6vw 20vw;
}

.section-four-left{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-four-button{
    background-color: rgba(255, 255, 255, 0);
    border: solid #f9faf8;
    border-radius: 10px;
    padding: 10px 30px;
    color: #f9faf8;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px;
}




